@import 'variables';

.ele    { color: $ele; }
.engi   { color: $engi; }
.guard  { color: $guard; }
.mes    { color: $mes; }
.necro  { color: $necro; }
.ranger { color: $ranger; }
.rev    { color: $rev; }
.thief  { color: $thief; }
.war    { color: $war; }
